<ion-tabs>
    <ion-header slot="top" class="ion-no-border">
        <div class="container-header">
            <ion-thumbnail slot="start">
                <img src="https://docs-demo.ionic.io/assets/madison.jpg" />
            </ion-thumbnail>
            <div class="container-labels">
                <div class="label-name">
                    name
                </div>
                <div class="label-phone">
                    0123456789
                </div>
            </div>
            <div slot="end" style="position: relative;margin-right: 1rem;">
                <ion-img src="../../../assets/images/notificationRing.png">
                </ion-img>
                <span class="count-notification">15</span>
            </div>
        </div>
    </ion-header>
    <ion-tab-bar slot="bottom" mode="ios">
        <ion-tab-button tab="tabHome">
            <ion-img src="../../../assets/images/home.png"></ion-img>
        </ion-tab-button>
        <ion-tab-button tab="tab2">
            <ion-img src="../../../assets/images/phone.png"></ion-img>
        </ion-tab-button>
        <ion-tab-button tab="tab3">
            <ion-img src="../../../assets/images/zalo.png"></ion-img>
        </ion-tab-button>
        <ion-tab-button tab="tabPolicy">
            <ion-img src="../../../assets/images/policy.png"></ion-img>
        </ion-tab-button>
        <ion-tab-button tab="tabSetting">
            <ion-img src="../../../assets/images/setting.png"></ion-img>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
