<ion-content>
  <div class="wrap-top">
    <ion-img class="wrap-top-img" src="../../../assets/images/Big_Logo.jpg"></ion-img>
  </div>
  <div class="wrap-center">
    <div class="flex-center">

      <div class="wrap-img">
        <ion-img class="img" src="../../../assets/images/janus.jpg"></ion-img>
      </div>

      <div class="wrap-input" style="margin-top:2rem;">
        <app-Input labelText="Thông tin đăng nhập"  aria-placeholder="abc" [isValid]="false"></app-Input>
      </div> 

      <div class="wrap-pass" style="margin-top:2rem;">
        <div class="wrap-pass-left">
          <app-Input labelText="Mật khẩu" [isValid]="false"></app-Input>
        </div>
        <div class="wrap-pass-right">
          <ion-img class="img" src="../../../assets/images/vantay.png"></ion-img>
        </div>
      </div>

    </div>
    
  </div>
</ion-content> 