<div mode="ios" style="border: 1px solid #ddd;
padding: 1rem 1rem 0 1rem;
margin: 0 0.5rem;
border-radius: 32px;">
    <ion-icon name="medical-outline" style="position: absolute;
    top: 1rem;
    right: 1.6rem;
    font-size: 1.8rem;
    color: #FF9900;"></ion-icon>
    <ion-img style="height:6rem;" src="../../../../assets/images/image.png"></ion-img>
    <div style="font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;">SamSung Galaxy Watch</div>
    <div style="font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FF6669;border-bottom: 1px solid #ccc;padding:0.6rem 0">6.999.999đ</div>
    <div></div>
    <ion-button style="padding:0.5rem 0;--border-radius:18px;width: 100%;--background: #18A661">
        <span style="font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0.02em;
        text-transform: capitalize;">Đăng ký</span>
        <ion-icon style="transform: rotate(45deg);" name="arrow-up"></ion-icon>
    </ion-button>
</div>
